*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Crimson Text', serif;;
    list-style: none;
    text-decoration: none; 
}
.nav{
    background-color: rgb(17, 16, 16);
    width: 100%;
    height: 70px;
}
span{
    color: aqua;
    font-size: 24px;
     padding-left: 20px;
     line-height: 70px;
     text-transform: uppercase;
     font-weight:bolder
}
.nav ul{
  float: right;
 
}
.nav ul li{
    display: inline-block;
    margin: 0 10px;
    line-height: 70px;
    /* font-weight: 900px; */
}
.nav ul li a{
    color: aliceblue;
    padding: 10px 10px;
    text-transform: uppercase;
    font-weight:bolder
}
.nav ul li a:hover{
    color:cyan;
    border-radius: 4px;
    box-shadow: 0 0 5px #33ffff,
                0 0 5px #66ffff; 
}
.nav ul .action a{
    color:cyan;
      border-radius: 4px;
      box-shadow: 0 0 5px #33ffff,
                  0 0 5px #66ffff; }
.nav ul li a .fa{
    padding-right: 10px;
}
@media (max-width:879px){
    .nav ul{
        position: fixed;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color:transparent;
        text-align: center;
        padding: 10px;
        top:50px;
        left:-100%;
        transition: 2s; 
    }
    nav ul.slide{
        left: 0;
        transition: 2s;
        z-index: 10;
     }
    .nav ul li{
        display: block;
        width: 100%;
        margin: 0;
    }
    .nav ul li a {
       border:none;
       color: black;
}
     .nav ul li:hover{
        background-color: black;
     }
     .nav ul li:hover a{
        color: aliceblue;
     } 
     
     .hamburger{
        float: right;
        padding-right: 20px;
        padding-top: 12px;
        /* background-color: green; */
     }
     .hamburger .line{
        width: 15px;
        height: 4px;
        background-color:aliceblue;
        margin-bottom: 5px;
        display: block;
     }
}

/* .image{
    background-image:url(../image/1b-removebg-preview.png);
    /* background-size: cover;
    background-position: center;
    width: 90%;
    height: 90%;
     background-color:lightseagreen; } 
    img{ 
        /* background:url(../image/3.jpg);*/
        /* background-size: cover; */
       /* background-position: center;
        width:100%;
        height:700px;
        background-color: #33ffff;
    } */
    /* body{
        background-color: #66ffff;
    } */

/* ...............................................swiper...................... */
.swiper {
    width: 100%;
    height: 90vh;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
     display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  } 


